[submodule "benchmarks/haml-js"]
	path = benchmarks/haml-js
	url = git://github.com/creationix/haml-js.git
[submodule "test/haml-spec"]
	path = test/haml-spec
	url = https://github.com/CGamesPlay/haml-spec.git
